In [1]:
import pandas as pd
import numpy as np

Pandas carrega vários tipos de dados como csv, json,xml,html e excel

In [2]:
url = 'https://raw.githubusercontent.com/parvathy-nsarma/Walmart-Data/main/Walmart_Store_sales.csv'
walmart = pd.read_csv(url)
walmart

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106
...,...,...,...,...,...,...,...,...
6430,45,28-09-2012,713173.95,0,64.88,3.997,192.013558,8.684
6431,45,05-10-2012,733455.07,0,64.89,3.985,192.170412,8.667
6432,45,12-10-2012,734464.36,0,54.47,4.000,192.327265,8.667
6433,45,19-10-2012,718125.53,0,56.47,3.969,192.330854,8.667
6434,45,26-10-2012,760281.43,0,58.85,3.882,192.308899,8.667

- É possível fatiar o dataFrame

In [3]:
walmart[:10]['Weekly_Sales'] # as 10 primeiras linhas da coluna Weekly_Sales

0    1643690.90
1    1641957.44
2    1611968.17
3    1409727.59
4    1554806.68
5    1439541.59
6    1472515.79
7    1404429.92
8    1594968.28
9    1545418.53
Name: Weekly_Sales, dtype: float64

## Consultas

### Funções iloc e loc
- iloc acessa por posição (linha, coluna)
- loc permite acessar os dados pelo index

In [4]:
walmart.loc[0]['Date']

'05-02-2010'

In [5]:
walmart[:1]['Date'] #slice

0    05-02-2010
Name: Date, dtype: object

In [6]:
walmart.iloc[0,1] #pesquisa pelo indice da linha e indice da coluna

'05-02-2010'

In [9]:
walmart.loc[[1,3,4]][['Weekly_Sales', 'Date']] #para buscar algumas linhas, passar a lista dentro do loc [[lista aqui]]

   Weekly_Sales        Date
1    1641957.44  12-02-2010
3    1409727.59  26-02-2010
4    1554806.68  05-03-2010

In [10]:
walmart['Holiday_Flag']

0       0
1       1
2       0
3       0
4       0
       ..
6430    0
6431    0
6432    0
6433    0
6434    0
Name: Holiday_Flag, Length: 6435, dtype: int64

- .loc também permite criar condições para retornar

In [11]:
walmart.loc[walmart['Holiday_Flag'] == 1]

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
31,1,10-09-2010,1507460.69,1,78.69,2.565,211.495190,7.787
42,1,26-11-2010,1955624.11,1,64.52,2.735,211.748433,7.838
47,1,31-12-2010,1367320.01,1,48.43,2.943,211.404932,7.838
53,1,11-02-2011,1649614.93,1,36.39,3.022,212.936705,7.742
...,...,...,...,...,...,...,...,...
6375,45,09-09-2011,746129.56,1,71.48,3.738,186.673738,8.625
6386,45,25-11-2011,1170672.94,1,48.71,3.492,188.350400,8.523
6391,45,30-12-2011,869403.63,1,37.79,3.389,189.062016,8.523
6397,45,10-02-2012,803657.12,1,37.00,3.640,189.707605,8.424
6427,45,07-09-2012,766512.66,1,75.70,3.911,191.577676,8.684

In [12]:
walmart.loc[(walmart['Temperature'] > 90) & (walmart['Store'] == 1)]

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
78,1,05-08-2011,1624383.75,0,91.65,3.684,215.544618,7.962
79,1,12-08-2011,1525147.09,0,90.76,3.638,215.605788,7.962

# Função Query
- É possível realizar consultas por coluna e por index

In [13]:
walmart.query('Weekly_Sales > 1624383.75')

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
42,1,26-11-2010,1955624.11,1,64.52,2.735,211.748433,7.838
44,1,10-12-2010,1682614.26,0,46.33,2.843,211.465953,7.838
45,1,17-12-2010,1891034.93,0,49.84,2.869,211.405312,7.838
...,...,...,...,...,...,...,...,...
5766,41,24-12-2010,2225016.73,0,29.81,2.781,191.143019,7.508
5814,41,25-11-2011,1906713.35,1,36.37,3.424,195.770400,6.759
5817,41,16-12-2011,1682368.32,0,25.01,3.266,195.984169,6.759
5818,41,23-12-2011,2263722.68,0,25.59,3.173,196.171389,6.759
6338,45,24-12-2010,1682862.03,0,30.59,3.141,182.544590,8.724

In [14]:
walmart.query('1 <= index < 7')

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106
5,1,12-03-2010,1439541.59,0,57.79,2.667,211.380643,8.106
6,1,19-03-2010,1472515.79,0,54.58,2.720,211.215635,8.106

In [15]:
val = 1643690.90
walmart.query('Weekly_Sales > @val')

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
42,1,26-11-2010,1955624.11,1,64.52,2.735,211.748433,7.838
44,1,10-12-2010,1682614.26,0,46.33,2.843,211.465953,7.838
45,1,17-12-2010,1891034.93,0,49.84,2.869,211.405312,7.838
46,1,24-12-2010,2387950.20,0,52.33,2.886,211.405122,7.838
53,1,11-02-2011,1649614.93,1,36.39,3.022,212.936705,7.742
...,...,...,...,...,...,...,...,...
5766,41,24-12-2010,2225016.73,0,29.81,2.781,191.143019,7.508
5814,41,25-11-2011,1906713.35,1,36.37,3.424,195.770400,6.759
5817,41,16-12-2011,1682368.32,0,25.01,3.266,195.984169,6.759
5818,41,23-12-2011,2263722.68,0,25.59,3.173,196.171389,6.759
6338,45,24-12-2010,1682862.03,0,30.59,3.141,182.544590,8.724

In [19]:
walmart.query('Store in [1,6]')

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106
...,...,...,...,...,...,...,...,...
853,6,28-09-2012,1369131.46,0,77.82,3.666,224.602971,5.668
854,6,05-10-2012,1518177.71,0,70.84,3.617,224.804222,5.329
855,6,12-10-2012,1459396.84,0,65.43,3.601,225.005473,5.329
856,6,19-10-2012,1436883.99,0,69.68,3.594,225.050101,5.329
857,6,26-10-2012,1431426.34,0,72.34,3.506,225.068625,5.329

# Outras operações

In [27]:
df_aux = walmart.copy()
df_aux

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106
...,...,...,...,...,...,...,...,...
6430,45,28-09-2012,713173.95,0,64.88,3.997,192.013558,8.684
6431,45,05-10-2012,733455.07,0,64.89,3.985,192.170412,8.667
6432,45,12-10-2012,734464.36,0,54.47,4.000,192.327265,8.667
6433,45,19-10-2012,718125.53,0,56.47,3.969,192.330854,8.667
6434,45,26-10-2012,760281.43,0,58.85,3.882,192.308899,8.667

In [28]:
# Podemos utilizar o del para excluir colunas
del df_aux['CPI']
df_aux

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,8.106
...,...,...,...,...,...,...,...
6430,45,28-09-2012,713173.95,0,64.88,3.997,8.684
6431,45,05-10-2012,733455.07,0,64.89,3.985,8.667
6432,45,12-10-2012,734464.36,0,54.47,4.000,8.667
6433,45,19-10-2012,718125.53,0,56.47,3.969,8.667
6434,45,26-10-2012,760281.43,0,58.85,3.882,8.667

In [29]:
# Para apagar linhas, utiliza-se o drop
df_aux.drop(0)

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,Unemployment
1,1,12-02-2010,1641957.44,1,38.51,2.548,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,8.106
5,1,12-03-2010,1439541.59,0,57.79,2.667,8.106
...,...,...,...,...,...,...,...
6430,45,28-09-2012,713173.95,0,64.88,3.997,8.684
6431,45,05-10-2012,733455.07,0,64.89,3.985,8.667
6432,45,12-10-2012,734464.36,0,54.47,4.000,8.667
6433,45,19-10-2012,718125.53,0,56.47,3.969,8.667
6434,45,26-10-2012,760281.43,0,58.85,3.882,8.667

In [30]:
df_aux.drop(['Fuel_Price', 'Unemployment'], inplace = True, axis = 'columns')
df_aux

      Store        Date  Weekly_Sales  Holiday_Flag  Temperature
0         1  05-02-2010    1643690.90             0        42.31
1         1  12-02-2010    1641957.44             1        38.51
2         1  19-02-2010    1611968.17             0        39.93
3         1  26-02-2010    1409727.59             0        46.63
4         1  05-03-2010    1554806.68             0        46.50
...     ...         ...           ...           ...          ...
6430     45  28-09-2012     713173.95             0        64.88
6431     45  05-10-2012     733455.07             0        64.89
6432     45  12-10-2012     734464.36             0        54.47
6433     45  19-10-2012     718125.53             0        56.47
6434     45  26-10-2012     760281.43             0        58.85

[6435 rows x 5 columns]

In [31]:
df_aux.drop([1, 3], inplace = True)
df_aux

      Store        Date  Weekly_Sales  Holiday_Flag  Temperature
0         1  05-02-2010    1643690.90             0        42.31
2         1  19-02-2010    1611968.17             0        39.93
4         1  05-03-2010    1554806.68             0        46.50
5         1  12-03-2010    1439541.59             0        57.79
6         1  19-03-2010    1472515.79             0        54.58
...     ...         ...           ...           ...          ...
6430     45  28-09-2012     713173.95             0        64.88
6431     45  05-10-2012     733455.07             0        64.89
6432     45  12-10-2012     734464.36             0        54.47
6433     45  19-10-2012     718125.53             0        56.47
6434     45  26-10-2012     760281.43             0        58.85

[6433 rows x 5 columns]

* Podem ser adicionados nomes para represnetar as labels das linhas e colunas

In [32]:
df_aux.index.name = 'Indice'
df_aux.columns.name = 'Dados'
df_aux

Dados   Store        Date  Weekly_Sales  Holiday_Flag  Temperature
Indice
0           1  05-02-2010    1643690.90             0        42.31
2           1  19-02-2010    1611968.17             0        39.93
4           1  05-03-2010    1554806.68             0        46.50
5           1  12-03-2010    1439541.59             0        57.79
6           1  19-03-2010    1472515.79             0        54.58
...       ...         ...           ...           ...          ...
6430       45  28-09-2012     713173.95             0        64.88
6431       45  05-10-2012     733455.07             0        64.89
6432       45  12-10-2012     734464.36             0        54.47
6433       45  19-10-2012     718125.53             0        56.47
6434       45  26-10-2012     760281.43             0        58.85

[6433 rows x 5 columns]

# Atividade Titanic

In [22]:
link = 'https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv'
titanic = pd.read_csv(link)
titanic

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500
...,...,...,...,...,...,...,...,...
882,0,2,Rev. Juozas Montvila,male,27.0,0,0,13.0000
883,1,1,Miss. Margaret Edith Graham,female,19.0,0,0,30.0000
884,0,3,Miss. Catherine Helen Johnston,female,7.0,1,2,23.4500
885,1,1,Mr. Karl Howell Behr,male,26.0,0,0,30.0000
886,0,3,Mr. Patrick Dooley,male,32.0,0,0,7.7500

1. Imprimir da linha 2 até a linha 4 do DataFrame carregado;
1. Imprimir as linhas que tiverem a coluna “Age” inferior a 30;
1. Imprimir o valor da coluna “Pclass” igual a 3;
Extra: Imprimir as linhas que tiverem as colunas “survived” igual a 1 e “Pclass” inferior a 2;

In [23]:
titanic[2:5]

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.925
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.100
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.050

In [24]:
titanic.loc[(titanic['Age'] < 30)]

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
5,0,3,Mr. James Moran,male,27.0,0,0,8.4583
7,0,3,Master. Gosta Leonard Palsson,male,2.0,3,1,21.0750
8,1,3,Mrs. Oscar W (Elisabeth Vilhelmina Berg) Johnson,female,27.0,0,2,11.1333
...,...,...,...,...,...,...,...,...
880,0,3,Mr. Henry Jr Sutehall,male,25.0,0,0,7.0500
882,0,2,Rev. Juozas Montvila,male,27.0,0,0,13.0000
883,1,1,Miss. Margaret Edith Graham,female,19.0,0,0,30.0000
884,0,3,Miss. Catherine Helen Johnston,female,7.0,1,2,23.4500
885,1,1,Mr. Karl Howell Behr,male,26.0,0,0,30.0000

In [25]:
titanic.loc[(titanic['Pclass'] == 3)]

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500
5,0,3,Mr. James Moran,male,27.0,0,0,8.4583
7,0,3,Master. Gosta Leonard Palsson,male,2.0,3,1,21.0750
...,...,...,...,...,...,...,...,...
878,0,3,Miss. Gerda Ulrika Dahlberg,female,22.0,0,0,10.5167
880,0,3,Mr. Henry Jr Sutehall,male,25.0,0,0,7.0500
881,0,3,Mrs. William (Margaret Norton) Rice,female,39.0,0,5,29.1250
884,0,3,Miss. Catherine Helen Johnston,female,7.0,1,2,23.4500
886,0,3,Mr. Patrick Dooley,male,32.0,0,0,7.7500

In [26]:
titanic.loc[(titanic['Survived'] == 1) & (titanic['Pclass'] < 2)]

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
11,1,1,Miss. Elizabeth Bonnell,female,58.0,0,0,26.5500
23,1,1,Mr. William Thompson Sloper,male,28.0,0,0,35.5000
31,1,1,Mrs. William Augustus (Marie Eugenie) Spencer,female,48.0,1,0,146.5208
...,...,...,...,...,...,...,...,...
858,1,1,Mrs. Frederick Joel (Margaret Welles Barron) S...,female,48.0,0,0,25.9292
867,1,1,Mrs. Richard Leonard (Sallie Monypeny) Beckwith,female,47.0,1,1,52.5542
875,1,1,Mrs. Thomas Jr (Lily Alexenia Wilson) Potter,female,56.0,0,1,83.1583
883,1,1,Miss. Margaret Edith Graham,female,19.0,0,0,30.0000
885,1,1,Mr. Karl Howell Behr,male,26.0,0,0,30.0000